body {
  margin: 0;
  font-family: Arial;
  background: #ff7a00;
  color: white;
}

header {
  background: rgba(0,0,0,0.6);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.page {
  display: none;
  padding: 40px;
  text-align: center;
}

.page.active {
  display: block;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
}
